node_modules/*
!node_modules/@nippur72
trash/
debug.log
docs/cbios/bios.floppy.525.DS.bin
docs/cbios/bios.floppy.525.DS.lst
docs/cbios/bios.floppy.525.SS.bin
docs/cbios/bios.floppy.525.SS.lst
docs/cbios/bios.floppy.8.DS.bin
docs/cbios/bios.floppy.8.DS.lst
docs/cbios/bios.floppy.8.SS.bin
docs/cbios/bios.floppy.8.SS.lst
docs/cbios/bios.floppy.525.DS.bin
docs/cbios/bios.floppy.525.SS.bin
docs/cbios/bios.floppy.8.DS.bin
docs/cbios/bios.floppy.8.SS.bin
tools/disk_2x40x18x128xDS.img
tools/disk_2x40x18x128xSS.img
tools/disk_2x77x26x128xDS.img
tools/disk_2x77x26x128xSS.img
docs/cbios/bios.floppy.525.DS.bin
docs/cbios/bios.floppy.525.SS.bin
docs/cbios/bios.floppy.8.DS.bin
docs/cbios/bios.floppy.8.SS.bin
